<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.hasBeen" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    <permission android:name="co.hasBeen.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="co.haBeen.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:name=".HasBeenApplicaiton"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="co.hasBeen.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/hasBeen">
        </activity>
        <activity android:name=".map.MapActivity"
            android:screenOrientation="portrait" android:theme="@style/hasBeen" />
        <activity android:name="co.hasBeen.gallery.GalleryPhotoView"
            android:screenOrientation="portrait" android:theme="@style/NoActionBar" android:label="@string/app_name" />
        <activity android:name="co.hasBeen.gallery.GalleryPhotoEdit"
            android:screenOrientation="portrait" android:theme="@style/NoActionBar" android:label="@string/app_name" android:windowSoftInputMode="adjustResize" />
        <activity android:name="co.hasBeen.gallery.GalleryShare"
            android:screenOrientation="portrait" android:theme="@style/hasBeen" />
        <activity android:name=".gallery.GallerySelectTripView"
            android:screenOrientation="portrait" android:theme="@style/hasBeen" />
        <activity android:name="co.hasBeen.gallery.GalleryUpload"
            android:screenOrientation="portrait" android:theme="@style/hasBeen"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name="co.hasBeen.gallery.GalleryPlace"
            android:screenOrientation="portrait" android:theme="@style/hasBeen" />
        <activity android:name="co.hasBeen.account.LoginActivity"
            android:screenOrientation="portrait" android:theme="@style/NoActionBar" android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".setting.License"
            android:screenOrientation="portrait" android:theme="@style/hasBeen" />
        <activity android:name=".setting.AbouthasBeen"
            android:screenOrientation="portrait" android:theme="@style/NoActionBar" />
        <activity android:screenOrientation="portrait" android:name="co.hasBeen.setting.SettingView"  android:theme="@style/hasBeen" />
        <activity android:screenOrientation="portrait" android:name="co.hasBeen.setting.SettingAccount"  android:theme="@style/hasBeen" />
        <activity android:screenOrientation="portrait" android:name="co.hasBeen.setting.ChangePassword"  android:theme="@style/hasBeen" />
        <activity android:screenOrientation="portrait" android:name="co.hasBeen.setting.Version"  android:theme="@style/hasBeen" />
        <activity android:screenOrientation="portrait" android:name="co.hasBeen.account.SignUpActivity"  android:theme="@style/NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:screenOrientation="portrait" android:name="co.hasBeen.account.ForgotPassword"  android:theme="@style/hasBeen" android:windowSoftInputMode="adjustResize"/>
        <activity android:screenOrientation="portrait" android:name="co.hasBeen.day.DayView" android:theme="@style/hasBeen" android:label="@string/app_name" android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity android:screenOrientation="portrait" android:name="co.hasBeen.gallery.GalleryDayView" android:theme="@style/hasBeen" android:label="@string/app_name" android:windowSoftInputMode="adjustResize" />
        <activity android:screenOrientation="portrait" android:name="co.hasBeen.day.DayChangePlace" android:theme="@style/hasBeen" android:label="@string/app_name"/>
        <activity android:screenOrientation="portrait" android:name="co.hasBeen.comment.CommentView" android:theme="@style/hasBeen" android:label="@string/app_name" />
        <activity android:screenOrientation="portrait" android:name="co.hasBeen.photo.PhotoActivity" android:theme="@style/hasBeen" android:label="@string/app_name">
        </activity>
        <activity android:screenOrientation="portrait" android:name="co.hasBeen.social.LinkActivity" android:theme="@style/hasBeen" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="www.hasbeen.co" android:scheme="http" />
                <data android:pathPattern=".*"></data>
            </intent-filter>
        </activity>
        <activity android:screenOrientation="portrait" android:name="co.hasBeen.profile.follow.FollowView" android:theme="@style/hasBeen" android:label="@string/app_name" />
        <activity android:screenOrientation="portrait" android:name="co.hasBeen.social.FbFriendsView" android:theme="@style/hasBeen" android:label="@string/app_name" />
        <activity android:screenOrientation="portrait" android:name="co.hasBeen.profile.ProfileView" android:theme="@style/hasBeen" android:label="@string/app_name" />
        <activity android:screenOrientation="portrait" android:name="co.hasBeen.search.SearchDetailView"  android:theme="@style/NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId"   android:value="@string/app_id" />
        <activity android:screenOrientation="portrait" android:name="com.facebook.LoginActivity" android:windowSoftInputMode="adjustResize"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"></meta-data>
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="@string/map_id"/>
        <receiver
            android:name=".broadcast.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="co.hasBeen" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.NewPhotoReceiver">
            <intent-filter>
                <action android:name="com.android.camera.NEW_PICTURE" />

                <data android:mimeType="image/*"/>
            </intent-filter>
        </receiver>
        <service android:name=".broadcast.GcmIntentService" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f4eda658152616f3f3f8fdff1b4fe9ba8099ea35" />
        <meta-data android:name="LOCALYTICS_APP_KEY" android:value="3939e64fca693f74fbe7389-b9fc27e4-cd4b-11e4-aef3-009c5fda0a25"/>
        <receiver android:name="com.localytics.android.ReferralReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
