<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.hasBeen" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    <permission android:name="my_app_package.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="my_app_package.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">

        <activity
            android:name="co.hasBeen.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="co.hasBeen.gallery.GalleryPhoto" android:theme="@style/FullPhoto" android:label="@string/app_name" />
        <activity android:name="co.hasBeen.gallery.GalleryShare"  android:theme="@style/hasBeenShare" />
        <activity android:name="co.hasBeen.gallery.GalleryUpload"  android:theme="@style/hasBeenShare"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name="co.hasBeen.gallery.GalleryPlace"  android:theme="@style/hasBeenShare" />
        <activity android:name="co.hasBeen.account.LoginActivity"  android:theme="@style/NoActionBar" android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="co.hasBeen.account.SignUpActivity"  android:theme="@style/NoActionBar" android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity android:name="co.hasBeen.day.DayView" android:theme="@style/hasBeenShare" android:label="@string/app_name" />
        <activity android:name="co.hasBeen.comment.CommentView" android:theme="@style/hasBeenShare" android:label="@string/app_name" />
        <activity android:name="co.hasBeen.photo.PhotoView" android:theme="@style/hasBeenShare" android:label="@string/app_name" />
        <activity android:name="co.hasBeen.profile.follow.FollowView" android:theme="@style/hasBeenShare" android:label="@string/app_name" />
        <activity android:name="co.hasBeen.social.FbFriendsView" android:theme="@style/hasBeenShare" android:label="@string/app_name" />
        <activity android:name="co.hasBeen.profile.ProfileView" android:theme="@style/hasBeenShare" android:label="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId"   android:value="@string/app_id" />
        <activity android:name="com.facebook.LoginActivity" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"></meta-data>
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyA5Ja3k9IUYqOmKgkQtH7fGEqi1A2Ju-qQ"/>
        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>
        <service android:name=".gcm.GcmIntentService" />
    </application>

</manifest>
