<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.test.hasBeen" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">

        <activity
            android:name="example.test.hasBeen.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".gallery.GalleryPhoto" android:theme="@style/FullPhoto" android:label="@string/app_name" />
        <activity android:name=".gallery.GalleryShare"  android:theme="@style/hasBeenShare" />
        <activity android:name=".gallery.GalleryUpload"  android:theme="@style/hasBeenShare"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".gallery.GalleryPlace"  android:theme="@style/hasBeenShare" />
        <activity android:name=".account.LoginActivity"  android:theme="@style/NoActionBar" android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".account.SignUpActivity"  android:theme="@style/NoActionBar" android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity android:name=".day.DayView" android:theme="@style/hasBeenShare" android:label="@string/app_name" />
        <activity android:name=".comment.CommentView" android:theme="@style/hasBeenShare" android:label="@string/app_name" />
        <activity android:name=".photo.PhotoView" android:theme="@style/hasBeenShare" android:label="@string/app_name" />
        <activity android:name=".profile.follow.FollowView" android:theme="@style/hasBeenShare" android:label="@string/app_name" />
        <activity android:name=".profile.follow.FollowView" android:theme="@style/hasBeenShare" android:label="@string/app_name" />
        <activity android:name=".profile.ProfileView" android:theme="@style/hasBeenShare" android:label="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId"   android:value="@string/app_id" />
        <activity android:name="com.facebook.LoginActivity" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"></meta-data>
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyA5Ja3k9IUYqOmKgkQtH7fGEqi1A2Ju-qQ"/>
    </application>

</manifest>
